.navbar {
    position: fixed;
    width: 100%;
    background: #521751;
    height: 3.5rem;
}


a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.items {
color: white;
    
}

.items ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;

}

.items li {
    padding: 1rem 1rem;
    
}

.items a:hover,
.items a:active {
    color: pink;
    
}